*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #640D5F;
    width: 100%;
    height: 100vh;
}
.todo-container{
    background-color: #D91656;
    max-width: 550px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0, 0.4);

}
h1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFEB55;
}
img{
    width: 45px;
}
.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
#input-field{
    width: 70%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0 2px 6px rgba(0,0,0, 0.3) inset;
    border-radius: 30px;
}
input::placeholder{
    color: #640D5F;
}
.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
    background-color: #640D5F;
    color: white;
    cursor: pointer;
    transition: all 0.4s;
}
.btn:hover{
    color: #D91656;
    background-color: #FFEB55;
}

ul li{
    list-style: none;
    width: 100%;
    color: #FFEB55;
    /* background-color: red; */
    border: none;
    padding: 10px 50px;
    border-radius: 30px;
    margin-block: 20px;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    user-select: none;
    color: #640D5F;
}
ul li::before{
    content: "";
    background: url(undone.png);
    background-size: cover;
    position: center;
    position: absolute;
    top: 6px;
    left: 8px;
    width: 30px;
    height: 30px;
}

.checked{
    background-color: #EE66A6;
    color: #FFEB55;
}
.checked::before{
    background: url(done.png);
    width: 30px;
    height: 30px;
    background-size: cover;
}

span{
    position: absolute;
    right: 5px;
    top: 6px;
    font-size: 25px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;

}
ul li.checked span:hover{
    background-color: black;
    color: #ffc470;
}